// wish list
// - function to change text color depending on background

$primary-color:rgb(248, 101, 16);
$secondary-color:rgb(71, 214, 240);

html {
    height:100%;
}

body {
    background:#fff;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
    margin:0;
    overflow:hidden;
    padding:0;
}



.header {
    background:black; 
    display:flex;
    justify-content:space-between;

    
    .logo {
        color:#fff;
        margin-left:1rem;

        h1 {
            margin:.4rem;
        }
    }

    
    nav {
        align-items: center;
        justify-content: space-between;
        margin-right:.5rem;
        
        ul {
            display: flex;
            list-style-type: none;
            margin:0;
        }

        li { 
            padding: 1rem; 
        }

        li.active {
            background-color:$primary-color;
        }

        a {
            color: #fff;
            text-decoration:none;  
        }

        a:hover {
        color: $secondary-color; 
        }
    }

}

.container {
    div {
        margin:20px;
    }

    // display:flex;
}


// adding a comment just to see if the commit works this time